<div class="login-container">
    <div class="user-icon">
      <img src="assets/Group.png" alt="User Icon">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="login-input">
            <input matInput placeholder="Login" formControlName="login" required>
        <mat-error *ngIf="loginForm.get('login')!.hasError('required')">O login é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="login-input">
            <input matInput placeholder="password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password')!.hasError('required')">O login é obrigatório</mat-error>
        </mat-form-field>

        <button mat-stroked-button color="primary" type="submit">login</button>
    </form>
  </div>
  